{% extends "base.html.twig" %}

{% block title %}/{{board.abbreviation}}/ - {{thread.replies.first.content}} - {{board.name}}{% endblock %}

{% block body %}

<div class="content">
    <div class="pure-g">
        <div class="pure-u-1 text-center">
            <h1>/{{board.abbreviation}}/ - {{board.name}} - #{{thread.id}}</h1>
        </div>
    </div>
    {% if not thread.locked %}
        <div class="pure-g">
            <div class="pure-u-1 text-center">
                <h2><a href="javascript:;" onClick="newReply()">Reply to Thread</a></h2>
            </div>
        </div>
        <div class="display-none" id="new_reply">
            <div class="pure-g">
                <div class="pure-u-1 text-center">
                    {{form(new_reply)}}
                </div>
            </div>
        </div>
    {% else %}
        <div class="pure-g">
            <div class="pure-u-1 text-center">
                <h2>Thread is locked.</h2>
            </div>
        </div>
    {% endif %}
    <div id="replies">
        <div class="pure-g">
            {% for reply in replies %}
                <div class="pure-u-1">
                    <div class="reply" id="{{reply.id}}">
                        <div class="pure-g">
                            <div class="pure-u-1">
                                <p>#{{reply.id}} {{reply.tsCreated|date("d.m.Y H:i:s", false)}} {% if not thread.locked %}<a href="javascript:;" onClick="newReply({{reply.id}})">Reply</a>{% endif %} {% if is_granted("ROLE_ADMIN") %}<a href="{{path("delete_reply", {reply_id: reply.id})}}">Delete</a>{% endif %} {% if reply.replyTo|length > 0 %}Replied to: {% for replyTo in reply.replyTo %}<a href="{{path("thread", {abbreviation: replyTo.thread.board.abbreviation, thread_id: replyTo.thread.id})}}#{{replyTo.id}}">#{{replyTo.id}}</a> {% endfor %}{% endif %}
                                </p>
                            </div>
                            {% if reply.attachment %}
                            <div class="pure-u text-center" style="">
                                <p><img class="thumbnail" src="{{asset('attachments/' ~ reply.attachment)}}" alt="{{reply.attachment}}"></img></p>
                            </div>
                            {% endif %}
                            {% if reply.content %}
                            <div class="pure-u">
                                <p>{{reply.content}}</p>
                            </div>
                            {% endif %}
                            {% if reply.replies|length > 0 %}
                            <div class="pure-u-1">
                                <p>Replies: {% for replyTo in reply.replies %}<a href="{{path("thread", {abbreviation: replyTo.thread.board.abbreviation, thread_id: replyTo.thread.id})}}#{{replyTo.id}}">#{{replyTo.id}}</a> {% endfor %}</p>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}

{% block js %}

<script>

    function newReply(reply_id)
    {
        if (reply_id)
        {
            $("#reply_content").val($("#reply_content").val() + "#" + reply_id + "\n");
        }

        $("#new_reply").show();
    }

    setInterval(refreshReplies, 30000);

    function refreshReplies()
    {
        $.ajax({
            url: "{{path('thread', {abbreviation: board.abbreviation, thread_id: thread.id})}}",
            success: function(data)
            {
                data = $(data).find("#replies");
                $("#replies").html(data.html());
                expandThumbnail();
            }
        });
    }

    expandThumbnail();

    function expandThumbnail()
    {
        $(".thumbnail").click(function()
        {
            if ($(this).css("height") == "150px")
            {
                $(this).css("height","auto");
            }
            else
            {
                $(this).css("height", "150px");
            }
        });
    }

</script>

{% endblock %}
