{% extends "base.html.twig" %}

{% block title %}/{{board.abbreviation}}/ - {{thread.replies.first.content}} - {{board.name}}{% endblock %}

{% block body %}

<div class="content">
    <div class="pure-g">
        <div class="pure-u-1">
            <h1>/{{board.abbreviation}}/ - {{board.name}} - #{{thread.id}}</h1>
        </div>
    </div>
    <div class="pure-g">
        <div class="pure-u-1 text-center">
            {% if thread.replies|length >= 255 %}
                <h2>Thread is locked.</h2>
            {% else %}
                <h2><a href="javascript:;" onClick="newReply()">Reply to Thread</a></h2>
            {% endif %}
        </div>
    </div>
    <div id="new_reply">
        <div class="pure-g">
            <div class="pure-u-1 text-center">
                {{form(new_reply)}}
            </div>
        </div>
    </div>
    <div id="replies">
        <div class="pure-g">
            {% for reply in replies %}
                <div class="pure-u-1">
                    <div class="reply" id="{{reply.id}}">
                        <div class="pure-g">
                            <div class="pure-u-1">
                                <p>#{{reply.id}} {{reply.tsCreated|date("d.m.Y H:i:s", false)}} <a href="{{path("new_reply", {abbreviation: board.abbreviation, thread_id: thread.id, reply_id: reply.id})}}">Reply</a> {% if not is_granted("ROLE_ADMIN") %}<a href="{{path("delete_reply", {abbreviation: board.abbreviation, thread_id: thread.id, reply_id: reply.id})}}">Delete</a>{% endif %} {% if reply.replyTo|length > 0 %}Replied to: {% for replyTo in reply.replyTo %}<a href="{{path("get_thread", {abbreviation: replyTo.thread.board.abbreviation, thread_id: replyTo.thread.id})}}#{{replyTo.id}}">#{{replyTo.id}}</a>{% endfor %}{% endif %}</p>
                            </div>
                            {% if reply.attachment %}
                            <div class="pure-u text-center" style="">
                                <p><img class="thumbnail" src="{{asset('attachments/' ~ reply.attachment)}}" alt="{{reply.attachment}}"></img></p>
                            </div>
                            {% endif %}
                            {% if reply.content %}
                            <div class="pure-u">
                                <p>{{reply.content}}</p>
                            </div>
                            {% endif %}
                            {% if reply.replies|length > 0 %}
                            <div class="pure-u-1">
                                <p>Replies: {% for replyTo in reply.replies %}<a href="{{path("get_thread", {abbreviation: replyTo.thread.board.abbreviation, thread_id: replyTo.thread.id})}}#{{replyTo.id}}">#{{replyTo.id}}</a> {% endfor %}</p>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}

{% block js %}

<script>

    setInterval(refreshReplies, 30000);

    function refreshReplies()
    {
        $.ajax({
            url: "{{path("get_thread", {abbreviation: board.abbreviation, thread_id: thread.id})}}",
            success: function(data)
            {
                data = $(data).find("#replies");
                $("#replies").html(data);
                expandThumbnail();
            }
        });
    }

    expandThumbnail();

    function expandThumbnail()
    {
        $(".thumbnail").click(function()
        {
            if ($(this).css("height") == "150px")
            {
                $(this).css("height","auto");
            }
            else
            {
                $(this).css("height", "150px");
            }
        });
    }

    newReply();

    function newReply()
    {
        $("#new_reply").toggle();
    }

</script>

{% endblock %}
