{% extends "base.html.twig" %}

{% block title %}/{{board.abbreviation}}/ - {{topic.replies.first.content}}{% endblock %}

{% block body %}

<div class="content">
    <div class="pure-g">
        <div class="pure-u-1">
            <h1>/{{board.abbreviation}}/ - {{board.name}} - #{{topic.id}}</h1>
        </div>
    </div>
    <div class="pure-g">
        <div class="pure-u-1 text-center">
            <h2><a href="{{path("new_reply", {abbreviation: board.abbreviation, topic_id: topic.id})}}">Reply to Topic</a></h2>
        </div>
    </div>
    <div class="pure-g">
        {% for reply in replies %}
            <div class="pure-u-1">
                <div class="reply" id="{{reply.id}}">
                    <div class="pure-g">
                        <div class="pure-u-1">
                            <p>#{{reply.id}} {{reply.tsCreated|date("d.m.Y H:m:s")}} <a href="{{path("new_reply", {abbreviation: board.abbreviation, topic_id: topic.id, reply_id: reply.id})}}">Reply</a> <a href="{{path("delete_reply", {abbreviation: board.abbreviation, topic_id: topic.id, reply_id: reply.id})}}">Delete</a> {% for replyTo in reply.replyTo %}<a href="{{path("get_topic", {abbreviation: replyTo.topic.board.abbreviation, topic_id: replyTo.topic.id})}}#{{replyTo.id}}">#{{replyTo.id}}</a>{% endfor %}</p>
                        </div>
                        {% if reply.attachment %}
                        <div class="pure-u">
                            <p><img style="width: 100px; height: auto;" src="{{asset('attachments/' ~ reply.attachment)}}" alt="{{reply.attachment}}"></img></p>
                        </div>
                        {% endif %}
                        {% if reply.content %}
                        <div class="pure-u">
                            <p>{{reply.content}}</p>
                        </div>
                        {% endif %}
                        {% if reply.replies|length > 0 %}
                        <div class="pure-u-1">
                            <p>Replies: {% for replyTo in reply.replies %}<a href="{{path("get_topic", {abbreviation: replyTo.topic.board.abbreviation, topic_id: replyTo.topic.id})}}#{{replyTo.id}}">#{{replyTo.id}}</a> {% endfor %}</p>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
